<%- include header %>
<% blogs.forEach(function (blog, index) { %>
  <p><h2><a href="#"><%= blog.title %></a></h2></p>
  <p class="info">
   	Posted By：<a href="#"><%= blog.author_name %></a> |
    Date：<%= blog.create_at %>
  </p>
  <p><%- blog.content %></p>
<% }) %>
<%- include footer %>